.loaderAnimation{
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

:root{
  --color : 	#777777;
  --backroundColor : #ffcddd;
}

[data-theme="dark"]{
  --color : 		#222333;
  --backroundColor : #883ab3;
}
[data-theme="primary"]{
  --color : 			#fff73b;
  --backroundColor : #ff6e0a;
}

.testingBox{
  width: 100px;
  height: 100px;
  background-color: var(--backroundColor);
  color: var(--color);
  padding: 10px;
  margin: 10px;
}




.LinkButton{
    text-decoration: none;
    color: navy;
    font-weight: 600;
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    padding: 5px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #abdbeb , 	#f5f5dc);

    &:hover {
        color: white;
        // animation: button-hover-animation 0.1s ease-in;
      }


}
@keyframes button-hover-animation {
    from { transform: scale(1); } /* Start at normal scale */
    to { transform: scale(1.2); } /* End at the hover scale (1.4x) */
  }


  .gradientLeftToRight{
    background-image: linear-gradient(to right, #abdbeb ,#f2e6d9);
  }

  // for the dark mode 
  // .gradientLeftToRight{
  //   background-image: linear-gradient(to right, #282829 ,#d5d5d4);
  // }


  //// ----------------------------- landing page banner

  .landingPageBanner{
    button{
        font-size: .8em;
        width: max-content;
    }
   
  }

  // --------------------------about componenet
  .block{
    max-width: 400px;
  }
  @media screen and (max-width: 480px) {
    .block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  }
  .block-icons{
    width: 30px;
    height: 30px;
  }

  // ---------------------- product card 
  .productCard{
    max-width: max-content;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    *{
        padding : 0;
        margin:0;
    }
   .product-img{
    width: 100%;
    height: 250px;
   }
   .cardHeading{
    font-size: 1.2rem;
    font-weight: 600;
   }
   .rating{
    font-size: 1rem;
    font-weight: 600;
   }
   .card-descritption{
    font-size: .8rem;
    font-weight: 600;
   }
   .price{
    font-size: 1rem;
    font-weight: 600;
    span{
        font-size: .8rem;
     
    }
   }
  }

  //------------------------------------- featured

  .checkPoints{
    // font-size: 1em;
    font-weight: 500;
  }
  .checkIcons{
    width: 24px;
    height: 24px;
  }
 // --------------------------------------- footer
 .min-width{
  min-width: max-content;
 }


  // ------------------------------------------------------------------

  .top-heading{
    font-size: 4em;
    line-height: 65px;
  }
  .subHeading{
    font-size: 1rem;
    font-weight: 600;
    
  }
  .heading-description{
    font-size: 1rem;
    font-weight: 600;
    
  }

  .secondarySubHeading{
    color: 	#5b5b5b;
    font-weight: 500;

  }
  .component-heading{
    font-size: 3em;
    line-height: 65px;
    font-weight: 600;
    
  } 
  .text-center{
    text-align: center;
  }

  .block-heading{
    font-size: 1.7rem;
    font-weight : 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .block-description{
    font-size: .9rem;
    font-weight: 600;
    line-height: 25px;
  }
  .card-descritption{
    font-size: .8rem;
    font-weight: 600;
   }

   .footerText{
    font-size: 1rem;
    color: #5d5c5c;
    font-weight: 500;

   }


  // ------------- colors 
  .orange{
    color: #e69138;
    
}
  .green{
    color: #8ad8a9;
    
}
  .purple{
    color: #674ea7;
    
} 

// ---------------------------- font size 
.one-rem{
  font-size: 1rem;
  
}
.p-eight-rem{
  font-size: .8rem;
  
}
.p-nine-rem{
  font-size: .9rem;
  
}
